.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  overflow-y: hidden;
  opacity: 0;
  transition: opacity 0.3s ease;

  &.open {
    display: block;
    opacity: 1;
    animation: fadeInUp 0.3s forwards;
  }

  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    padding: 20px;
    background: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

    .close-btn {
      position: absolute;
      right: 10px;
      top: 5px;
      background: transparent;
      border: none;
      font-size: 20px;
      cursor: pointer;
    }
  }
}

@keyframes fadeInUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
